<!DOCTYPE html>
<html>
<head>
  <title>Windbag</title>
  <%= stylesheet_link_tag    "windbag/application" %>
  <%= javascript_include_tag "windbag/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
