<!DOCTYPE html>
<html>
<head>
  <title>Snoop</title>
  <%= stylesheet_link_tag    "snoop/application" %>
  <%= javascript_include_tag "snoop/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
